# {{ ansible_managed }}
  {{ inventory_hostname | upper }} — {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }} — groups: {{ group_names | join(', ') }}
  {{ common_motd_note }}
